@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protest';
    src: url('/fonts/ProtestStrike-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    background-color: #1e032b;
    width: 200px;
}
.sidebar a {
    color: white;
    z-index: 2;
    position: relative;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    cursor: pointer;
}

.sidebar a:focus {
    background-color: #f8f9fa;
    color: black;
}

.sidebar a:hover:not(.active) {
    color: rgb(0, 183, 255);
    cursor: pointer;
}

.sidebar a.active {
    background-color: #f8f9fa;
    color: black;
}

.nav.flex-column.mt-4 {
    position: relative;
    z-index: 2;
}

#chart {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }
  
  .title {
    display: flex;
    align-items: center;
  }
  
  .title span {
    position: relative;
    padding: 0.5rem;
    background-color: #10B981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
  }
  
  .title span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 1rem;
  }
  
  .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
  }
  
  .percent {
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
  
  .data .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
  }

  .table-container {
    max-height: 85vh;
    min-height: 85vh;
    overflow-y: auto;
    border: 1px solid #ccc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  #manageFlightTable tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }