@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protest';
    src: url('/fonts/ProtestStrike-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    transition: backdrop-filter 0.5s ease-in-out;
}

.blur {
    backdrop-filter: blur(100px);
    background-color: hsla(207, 83%, 45%, 0.795) !important;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

body {
    padding: 0;
    margin: 0;
}

.black {
    color: black;
    font-family: 'Protest';
}

.white {
    color: #ddddd3;
}

* {
    font-family: 'Poppins';
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 19px;
}

 .navbar-brand {
    font-family: 'Protest';
    font-size: 29px;
}

.bg-purple {
    background-color: #B1AFFF !important;
}

.bg-yellow {
    background-color: #FFFED3;
}

.loginbtn{
    padding: 8px 30px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border: 1px rgb(233, 215, 215) solid;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .loginbtn:hover {
    background-color: #00FF9C;
    color: hsl(0, 0%, 100%);
    box-shadow: #00FF9C 0px 7px 29px 0px;
  }
  
  .loginbtn:active {
    background-color: #00FF9C;
    color: hsl(0, 0%, 100%);
    box-shadow: #00FF9C 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 100ms;
  }
  

.main-section {
    background-image: linear-gradient(to bottom, rgba(219, 216, 216, 0), rgba(15, 11, 11, 0.7)), url(/image/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.button {
    align-items: center;
    background-image: linear-gradient(144deg, #FFFED3, #5b42f3 50%, #0d6efd);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .button:active,
  .button:hover {
    outline: 0;
  }
  
  .button span {
    background-color: rgb(5, 6, 45);
    padding: 12px 28px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button:hover span {
    background: none;
  }
  
  .button:active {
    transform: scale(0.9);
  }

/* para sa form */
.colorful-form {
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden; /* Hidden by default */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .colorful-form.anim {
    opacity: 1;
  transform: translateY(0); 
  visibility: visible;
  transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
  }
  
  textarea.form-input {
    height: 100px;
  }
  
  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3f3c91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #2d2a85;
  }

  .container-fluid.custom-position {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(20px);
    position: absolute;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .container-fluid.custom-position.anim {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Ensure the transition is smooth */
}
