:root {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protest';
    src: url('/fonts/ProtestStrike-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    transition: backdrop-filter 0.5s ease-in-out;
}

.blur {
    backdrop-filter: blur(100px);
    background-color: #3f3c91b7 !important;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

body {
    padding: 0;
    margin: 0;
}

.black {
    color: black;
    font-family: 'Protest';
}

.white {
    color: #ddddd3;
}

* {
    font-family: 'Poppins';
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 19px;
}

 .navbar-brand {
    font-family: 'Protest';
    font-size: 29px;
}

.bg-purple {
    background-color: #7695FF !important;
}

.bg-yellow {
    background-color: #f5f5f5;
}

.main-section {
    background-image: linear-gradient(to bottom, rgba(219, 216, 216, 0), rgba(15, 11, 11, 0.7)), url(/image/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}

/* para sa login button */
.loginbtn{
    padding: 8px 30px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border: 1px rgb(233, 215, 215) solid;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .loginbtn:hover {
    background-color: #00FF9C;
    color: hsl(0, 0%, 100%);
    box-shadow: #00FF9C 0px 7px 29px 0px;
  }
  
  .loginbtn:active {
    background-color: #00FF9C;
    color: hsl(0, 0%, 100%);
    box-shadow: #00FF9C 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 100ms;
  }
  

 /* sa tunga nga button sa get started */
.button {
    align-items: center;
    background-image: linear-gradient(144deg, #FFFED3, #5b42f3 50%, #0d6efd);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .button:active,
  .button:hover {
    outline: 0;
  }
  
  .button span {
    background-color: rgb(5, 6, 45);
    padding: 12px 28px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button:hover span {
    background: none;
  }
  
  .button:active {
    transform: scale(0.9);
  }
  
  .form {
    background-color: #dfeaf0;
    border-radius: 30px;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000, 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
  }


  body::-webkit-scrollbar {
    display: none;
  }


  #mainForm {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(200px);
    opacity: 0;
  }

  .up {
    transform: translateY(0);
    opacity: 1;
  }

  #scrollAnim {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
  }